*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
coverage
build
global.config.js
bower_components
client/dist
ngapp/config/bundle.js
html5/build
lib-cov
local.config.js
logs
node_modules
npm-debug.log
pids
public/bundle.js
results
server/datasources.local.js
db.json
json_payload.example
